.clear_fix{clear:both;}
.pull-left{float: left;}
.pull-right{float: right;}

.pl10{padding-left: 10px;}

.search input{width: 100%;}

.header{
  height: 50px;
  background-color: #3a3a3a;
}

body{
-webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

.header span{color: #fff;}

.logo{font-size: 26px;color: #fff;}
.header .logo-h{
  font-size: 26px;
  background-color: #fff;
  color: #3a3a3a;
  text-decoration: underline;
  border-radius: 3px;
}
.header div{margin-top: 7px;}

.challenge-img img{
    height: 111px;
    width: 115px;
   
}

.challenge-like{    
    position: absolute;
    bottom: 4px;
    right: 6px;
    width: 35px;
    border-radius: 3px;
}

.challenge-like .glyphicon{
  font-size: 16px;
}
.challenge-like .glyphicon:hover{
  font-size: 18px;
  -webkit-transition: font-size 0.1s   linear ;
	-moz-transition: font-size 0.1s   linear ;
	-o-transition: font-size 0.1s   linear ;
	-ms-ransition: font-size 0.1s   linear ;
	transition: font-size 0.1s   linear ;
}
.challenge-item{
    padding: 0px;box-shadow: 0px 0px 5px #C4c4c4;
    margin: 13px 13px;
    border-radius: 3px;
    background-color: #f9f9f9;
    width: auto;
  height: 111px;
}

.middle{background-color: #efefef;}

.sub-menu{padding: 10px 0px;}

.pr10{padding-right: 10px;}

.count-disp{border: 2pt solid green;
    border-radius: 6px;}
.challenge-name{font-weight: 700;
    padding: 3px 0px;}

.challenge-link{
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 0 black;
    width: 237px;
    text-overflow: ellipsis;
}
.challenge-tags{
  width: 260px;
    overflow: hidden;
    white-space: nowrap;
      text-overflow: ellipsis;
}

